{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Online Doctor Appointment Portal{% endblock %}</title>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'theme/base.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <!-- Header -->
    <header>
        <div class="container header-container">
            <div class="logo">
                <img src="{% static 'Images/logo.png' %}" alt="Doctor Logo">
            </div>
            <nav class="nav-links">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'signup' %}">Signup</a>
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'aboutus' %}">About Us</a>
                <a href="{% url 'contact' %}">Contact</a>
            </nav>
        </div>
    </header>

    <!-- Main Content -->
    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2025 Online Doctor Appointment Portal. All rights reserved.</p>
        </div>
    </footer>
<!-- JS CDN -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
