{% extends 'base.html' %}
{% load static %}

{% block title %}Contact Page{% endblock %}

{% block extra_css %}
<link href="{% static 'CSS/contact.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
        <main class="text-center my-5">
        <h1>Contact Us</h1>
        <p class="lead">For any queries, feel free to reach out through the following options:</p>
    
        <div class="row justify-content-center contact-cards">
            <div class="col-md-3 col-sm-6 contact-item">
                <img src="{% static 'Images/phone.png' %}" alt="Phone" class="icon">
                <p><strong>Phone:</strong><br><a href="tel:+1234567890"></a></p>
            </div>
    
            <div class="col-md-3 col-sm-6 contact-item">
                <img src="{% static 'Images/email.png' %}" alt="Email" class="icon">
                <p><strong>Email:</strong><br><a href="mailto:contact@doctorportal.com">contact@doctorportal.com</a></p>
            </div>
    
            <div class="col-md-3 col-sm-6 contact-item">
                <img src="{% static 'Images/instagram.png' %}" alt="Instagram" class="icon">
                <p><strong>Instagram:</strong><br><a href="https://instagram.com/" target="_blank">@doctorportal</a></p>
            </div>
    
            <div class="col-md-3 col-sm-6 contact-item">
                <img src="{% static 'Images/facebook.png' %}" alt="Facebook" class="icon">
                <p><strong>Facebook:</strong><br><a href="https://facebook.com/" target="_blank">Doctor Portal</a></p>
            </div>
    
            <div class="col-md-3 col-sm-6 contact-item">
                <img src="{% static 'Images/youtube.png' %}" alt="YouTube" class="icon">
                <p><strong>YouTube:</strong><br><a href="https://youtube.com/" target="_blank">Doctor Portal Channel</a></p>
            </div>
        </div>
    </main>
{% endblock %}
{% extends 'base.html' %}
{% load static %}

{% block title %}Contact Page{% endblock %}

{% block extra_css %}
<link href="{% static 'CSS/contact.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
        <main class="text-center my-5">
        <h1>Contact Us</h1>
        <p class="lead">For any queries, feel free to reach out through the following options:</p>
    
        <div class="row justify-content-center contact-cards">
            <div class="col-md-3 col-sm-6 contact-item">
                <img src="{% static 'Images/phone.png' %}" alt="Phone" class="icon">
                <p><strong>Phone:</strong><br><a href="tel:+1234567890"></a></p>
            </div>
    
            <div class="col-md-3 col-sm-6 contact-item">
                <img src="{% static 'Images/email.png' %}" alt="Email" class="icon">
                <p><strong>Email:</strong><br><a href="mailto:contact@doctorportal.com">contact@doctorportal.com</a></p>
            </div>
    
            <div class="col-md-3 col-sm-6 contact-item">
                <img src="{% static 'Images/instagram.png' %}" alt="Instagram" class="icon">
                <p><strong>Instagram:</strong><br><a href="https://instagram.com/" target="_blank">@doctorportal</a></p>
            </div>
    
            <div class="col-md-3 col-sm-6 contact-item">
                <img src="{% static 'Images/facebook.png' %}" alt="Facebook" class="icon">
                <p><strong>Facebook:</strong><br><a href="https://facebook.com/" target="_blank">Doctor Portal</a></p>
            </div>
    
            <div class="col-md-3 col-sm-6 contact-item">
                <img src="{% static 'Images/youtube.png' %}" alt="YouTube" class="icon">
                <p><strong>YouTube:</strong><br><a href="https://youtube.com/" target="_blank">Doctor Portal Channel</a></p>
            </div>
        </div>
    </main>
{% endblock %}
